body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(21,53,74);
}

main {
  display: flex;
  flex-flow: row wrap;
  margin-top: 2em;
  gap: 1em;
  align-items: flex-start;
  justify-content: center;
}

.box {
  padding: 1em;
  max-width: calc(350px + 1em);
  background-color: rgb(255, 255, 255);
  color: rgb(51, 51, 51);
  border: solid 2px rgb(255, 255, 255);
  border-radius: 5px;
  box-shadow: 3px 4px rgb(255, 165, 0);
}

footer {
  margin-top: 1em;
  text-align: center;
  color: rgb(255, 255, 255);
}

footer a:hover,
footer a:focus {
  color: rgb(255, 255, 255);
  text-decoration: underline;
}

footer a {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

.wrapper-alphafold h4 {
  margin-bottom: 0;
}

.wrapper-alphafold ul {
  margin-top: 0;
}

.details {
  padding-left: 1em;
}

.details .label-detail {
  color: #444;
  font-style: italic;
}

.pae_image img {
  width: 200px;
}
